<div class="background-image">
  <div class="container">
    <div class="content">
      <h1>Crear cuenta</h1>
      <form (submit)="onSubmit()">
        <div class="input-group">
          <label for="dni">Ingrese su DNI</label>
          <input type="text" id="dni" name="dni" required [(ngModel)]="user.dni" pattern="[0-9]{1,8}" title="Por favor, ingrese hasta 8 dígitos numéricos" maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>

        <div class="input-group">
          <label for="name">Ingrese su nombre</label>
          <input type="text" id="name" name="name" required [(ngModel)]="user.username" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+" title="Por favor, ingrese solo letras" oninput="this.value = this.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúñÑ\s]/g, '')" maxlength="15">
        </div>

        <div class="input-group">
          <label for="password">Ingrese su contraseña</label>
          <input type="password" id="password" name="password" required [(ngModel)]="user.password">
        </div>

        <button type="submit" class="button-center">Registrarse</button>
      </form>
      <a routerLink="/login-customer">¿Ya tienes una cuenta? Inicia sesión</a>
    </div>
  </div>
</div>

