<div class="background-image">
  <div class="container">
    <div class="content">
      <h1>Inicio de sesión para clientes</h1>
      <form (submit)="onSubmit()">
        <div class="input-group">
          <label for="dni">Ingrese su DNI</label>
          <input type="text" id="dni" name="dni" required pattern="[0-9]{1,8}" title="Por favor, ingrese hasta 8 dígitos numéricos" maxlength="8" [(ngModel)]="dni" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>
        <button type="submit" class="button-center">Ingresar</button>
      </form>
      <a routerLink="/login-admin">¿Es gerente?</a>
    </div>
  </div>
</div>
