body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #808080; /* Gris */
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  font-size: 18px;
}

.navbar-right button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.navbar-right button:hover {
  background-color: #E4D01B;
}

span {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
