<div class="container">
  <div class="fade-in-container">
    <h1 class="center">AÑADIR NUEVO CRÉDITO</h1>
    <div class="grid-container">
      <div class="icon-section">
        <img src="./assets/credit-icon.png" alt="credit-icon" class="credit-icon">
      </div>
      <div class="form-section">
        <label for="description">Descripción de la Compra:</label>
        <input id="description" type="text" [(ngModel)]="credit.descripcionCompra" required>

        <label for="total-cost">Costo Total:</label>
        <input id="total-cost" type="number" [(ngModel)]="credit.costoTotal" min="0.01" step="0.01" required>


        <label for="rate">Tasa:</label>
        <input id="rate" type="number" [(ngModel)]="credit.tasa" min="0" step="0.01" required>

        <label for="due-date">Fecha Límite:</label>
        <input id="due-date" type="date" [(ngModel)]="credit.fechaLimite" required>

        <label for="total-pay">Total a Pagar:</label>
        <input id="total-pay" type="number" [(ngModel)]="credit.totalPagar" min="0.01" step="0.01" required>

        <div class="alert alert-danger" *ngIf="error">
          {{ error_msg }}
        </div>
      </div>
      <div class="button-section">
        <button class="add-button" (click)="addCredit()">Añadir</button>
      </div>
    </div>
  </div>
</div>
