<div class="container">
  <div class="fade-in-container">
    <h1 class="center">CUENTA CORRIENTE</h1>
    <div *ngFor="let credit of credits">
      <div class="credit-container">
        <div class="credit-header">
          Compra hecha el:
        </div>
        <div class="credit-details">
          <div class="left-section">
            <h2>Productos:</h2>
            <p>{{credit.descripcionCompra}}</p>
          </div>
          <div class="right-section">
            <p>Costo total:{{credit.costoTotal}} nuevos soles</p>
            <p>Tasa mensual: {{credit.tasa}}%</p>
            <p>Total a pagar: {{credit.totalPagar}} nuevos soles</p>
            <p>Tiempo de pago: {{credit.mesesParaPagar}} {{credit.timeCategory}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
