<!-- <div class="credit-container">
  <div class="credit-header">
    Compra hecha el: {{ credit.date }}
  </div>
  <div class="credit-details">
    <div class="left-section">
      <h2>Productos</h2>
    </div>
    <div class="right-section">
      <p>Costo total: {{ credit.totalCost }}</p>
      <p>Tasa: {{ credit.rate }}</p>
      <p>Mora: {{ credit.lateFee }}</p>
      <p>Total a pagar: {{ credit.totalPay }}</p>
      <p>Fecha límite: {{ credit.dueDate }}</p>
    </div>
  </div>
</div> -->
<div class="credit-container">
  <div class="credit-header">
    Compra hecha el:
  </div>
  <div class="credit-details">
    <div class="left-section">
      <h2>Productos:</h2>
    </div>
    <div class="right-section">
      <p>Costo total: </p>
      <p>Tasa: </p>
      <p>Mora: </p>
      <p>Total a pagar: </p>
      <p>Fecha límite: </p>
    </div>
  </div>
</div>

